<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrpoid"
    android:versionCode="1826"
    android:versionName="1.8.0726" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- 1 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_APN_SETTINGS" />

    <!-- 2 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 3 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 4 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:name="com.mrpoid.app.EmulatorApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- mrpoid 所需要的组件 -->
        <service
            android:name="com.mrpoid.app.EmulatorService"
            android:exported="false" />

        <receiver
            android:name="com.mrpoid.app.EmulatorReceiver"
            android:exported="false" >
        </receiver>

        <activity
            android:name="com.mrpoid.app.EmulatorActivity"
            android:configChanges="orientation|keyboard"
            android:theme="@style/emu_theme_black_notitle" >
        </activity>
        <activity
            android:name="com.mrpoid.app.EditActivity"
            android:theme="@style/emu_theme_wallpaper_notitle" >
        </activity>
        <activity
            android:name="com.mrpoid.app.HelpActivity"
            android:theme="@style/emu_theme_light" >
        </activity>
        <activity
            android:name="com.mrpoid.app.KeypadActivity"
            android:theme="@style/emu_theme_black_notitle" >
        </activity>
        <activity
            android:name="com.mrpoid.app.SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/emu_theme_preference" >
        </activity>
        <activity
            android:name="com.mrpoid.tools.keysprite.KeySpriteEditorActivity"
            android:label="@string/settings"
            android:theme="@style/emu_theme_light" >
        </activity>
        <activity
            android:name="com.mrpoid.app.ExternActivity"
            android:configChanges="orientation|keyboard"
            android:exported="true"
            android:launchMode="standard"
            android:multiprocess="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/mrp" />
            </intent-filter>
        </activity>

        <!-- app0 -->
        <activity
            android:name="com.mrpoid.apps.AppActivity0"
            android:configChanges="orientation|keyboard"
            android:process=":app0"
            android:theme="@style/emu_theme_black_notitle" />

        <service
            android:name="com.mrpoid.apps.AppService0"
            android:process=":app0" />

        <!-- app1 -->
        <activity
            android:name="com.mrpoid.apps.AppActivity1"
            android:configChanges="orientation|keyboard"
            android:process=":app1"
            android:theme="@style/emu_theme_black_notitle" />

        <service
            android:name="com.mrpoid.apps.AppService1"
            android:process=":app1" />

        <!-- app2 -->
        <activity
            android:name="com.mrpoid.apps.AppActivity2"
            android:configChanges="orientation|keyboard"
            android:process=":app2"
            android:theme="@style/emu_theme_black_notitle" />

        <service
            android:name="com.mrpoid.apps.AppService2"
            android:process=":app2" />

        <!-- app3 -->
        <activity
            android:name="com.mrpoid.apps.AppActivity3"
            android:configChanges="orientation|keyboard"
            android:process=":app3"
            android:theme="@style/emu_theme_black_notitle" />

        <service
            android:name="com.mrpoid.apps.AppService3"
            android:process=":app3" />

        <!-- app4 -->
        <activity
            android:name="com.mrpoid.apps.AppActivity4"
            android:configChanges="orientation|keyboard"
            android:process=":app4"
            android:theme="@style/emu_theme_black_notitle" />

        <service
            android:name="com.mrpoid.apps.AppService4"
            android:process=":app4" />

        <!-- app5 -->
        <activity
            android:name="com.mrpoid.apps.AppActivity5"
            android:configChanges="orientation|keyboard"
            android:process=":app5"
            android:theme="@style/emu_theme_black_notitle" />

        <service
            android:name="com.mrpoid.apps.AppService5"
            android:process=":app5" />

        <!-- mrpoid 所需要的组件 -->
    </application>

</manifest>